<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820420421881-jt3g2aqeqpt8q57e3o4bj1l739h0ojvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820420421881-jt3g2aqeqpt8q57e3o4bj1l739h0ojvi</string>
	<key>API_KEY</key>
	<string>AIzaSyAuta0XPkzEuTrMbTH2cvGvLGtpVyHhgOY</string>
	<key>GCM_SENDER_ID</key>
	<string>820420421881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flatterfire</string>
	<key>PROJECT_ID</key>
	<string>my-firabase</string>
	<key>STORAGE_BUCKET</key>
	<string>my-firabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820420421881:ios:eac774cae5748c90c81a28</string>
</dict>
</plist>